* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vw;
  font-family: Arial;
}




body {
  font-family: Arial;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 3.5rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

}


nav > img {
  height: 100%;
  width: auto;
}

nav > h1 {
  color: #0059a0;
}

.header {
  width: 100%;
  height: 80vh;
  background: url("profil.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  padding: 2rem;
  font-size: clamp(1rem, 10vw, 1.3rem);
  position: relative;
  isolation: isolate;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
  z-index: -1;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(0,0,0,.4)
  );
}

.menu {
  width: 100%;
  height: 5rem;
  background: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.menu > * {
  padding: 0 2rem;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #06629a;
  font-weight: 600;
  cursor: pointer;
}


.menu > *:hover > span,
.menu > div:first-child {
  color: #f50d63;
}


.menu > .advanced {
  position: relative;
  display: flex;
  flex-direction: column;

}

.menu > .advanced > ul {
  display: none;
}


.menu > .advanced:hover > ul {
  position: absolute;
  display: flex;
  left: 0;
  top: 100%;
  flex-direction: column;
  width: 10rem;
  height: auto;
  background: white;
  border: .01rem solid black;
  border-radius: .3rem;
}

.menu > .advanced > ul > a {
  text-decoration: none;
  color: #06629a;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.menu > .advanced > ul > a:hover {
  color: #f50d63;
}



.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 2rem 0;
}


.info > h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3rem;
}



.info > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > div > img {
  width: 50%;
  height: auto;
}

.info > .person > img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.info > .person > h5 {
  font-size: 2.2rem;
  color: #0059a0;
  font-family: serif;
}

























@media (max-width: 50rem) {
  .menu > * {
    display: none !important;
  }
}


